<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    Edit blogs

    <form action="/editblogs" method="POST">

        <input type="text" placeholder="title" name="title">

        <select name="category" id="">
            <% categories.forEach((category) =>{ %>
                <option value="<%= category.id  %>"> <%= category.title %> </option>
            <%  })  %>
        </select>

        <select name="author" id="">
            <% authors.forEach((author) =>{ %>
                <option value="<%= author.id  %>"> <%= author.name %> </option>
            <%  })  %>
        </select>

        <textarea name="body" id="" cols="30" rows="10">

        </textarea>



        <input type="submit" value="Submit">


        <!-- title: <input type="text" name="title" placeholder="title"><br>

        release: <input type="text" name="release" placeholder="release date"><br>

        body: <input type="text" name="body" placeholder="body"><br>

        imageurl: <input type="text" name="imageurl" placeholder="imageurl"><br> -->
        

    </form>


</body>
</html>